// Colors
$base-color: #444;
$black: #222;
$white: #fff;
$blue: #00f;
$red: #e24545;
// Body
$base-font-size: 12px !default;
$base-line-height: 1.2 !default;
$base-text-color: $base-color !default;
$base-font-family: 'Montserrat', sans-serif !default;
$base-background-color: $white !default;